<div class="signin-container">
  <h2>Sign-in to your Account</h2>
  <form method="post" action="/login">
    <input class="signin-field" type=text placeholder="Email" name="user[email]"><br>
    <input class="signin-field" type=password placeholder="Password" name="user[password]"></br>
    <input type=submit value="Login">
  </form>
</div>
