
<form method="post" action="/questions">
    <input type=text placeholder="Title" name="questions[title]"><br>
    <input type=text placeholder="Description" name="questions[description]"></br>
    <input type=submit value="Submit Question">
</form>

Current user is: <%= current_user %>
