<div class="signup-container">
  <h2>Create an account</h2>
  <form method="post" action="/signup">
    <input type=text placeholder="Email Address" name="user[username]"><br>
    <input type=password placeholder="Password" name="user[password]"></br>
    <input type=submit value="Sign up">
  </form>
</div>
<!-- <form method="post" action="/">
  <input type=submit value="Back to Home">
</form>
<form method="post" action="/login">
  <input type="submit" value="Login to Account">
</form> -->
<a href="/">Back to Home</a></br>
<% if !logged_in? %>
  <a href="/login">Login to your account</a>
<% end %>
<%#= current_user.username %>
