* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #85144b;
}

h1 {
  margin-top: 10px;
  text-align: center;
  color: #FFF;
}

h2 {
  text-align: center;
}

a {
  color: #FFF;
}

p {
  text-align: center;
}

input {
  text-align: center;
  width: 200px
}


.login-container {
  border: 2px solid red;
  background: #DDD;
  width: 400px;
  height: 400px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.login-container form {
  border: 2px solid blue;
  margin: 100px auto 0; 
  height: 50px;
}

/* .login-container input {
  height: 100px;
  margin-bottom: 10px;
} */

.questions {
  text-align: center;
  border: 2px solid coral;
  background-color: #EEE;
  margin: 10 auto;
  width: 400px;
  height: auto;
  /* display: flex;
  flex-wrap: wrap; */
}

.questions p {
  text-align: center;
  padding: auto;
}

.ask {
  text-align: left;
  font-weight: bold;
  color: #FFF;
}

.input {
  margin: 0 auto;
  width: 200px;
}

.description-input {
  height: 50px;
}

.controls {
  margin-bottom: 5px;
}
.controls input {
  width: 100px;
}

.buttons input {
  margin: 0 auto;
}

.controls form {
  display: inline;
}
