* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #85144b;
}

h1 {
  text-align: center;
  color: #FFF;
}

a {
  color: #FFF;
}

p {
  text-align: center;
}

input {
  text-align: center;
  width: 200px
}

.questions {
  text-align: center;
  border: 2px solid coral;
  background-color: #EEE;
  margin: 10 auto;
  width: 400px;
  height: auto;
  /* display: flex;
  flex-wrap: wrap; */
}

.questions p {
  text-align: center;
  padding: auto;
}

.ask {
  text-align: left;
  font-weight: bold;
  color: #FFF;
}

.input {
  margin: 0 auto;
  width: 200px;
}

.description-input {
  height: 50px;
}

.controls {
  margin-bottom: 5px;
}
.controls input {
  width: 100px;
}

.buttons input {
  margin: 0 auto;
}

.controls form {
  display: inline;
}
