/* Basic Reset  */
* {
  margin: 0;
  padding: 0;
}

/* The Main Stuff */
body {
  background-color: #85144b;
  /* background-image: url('../public/images/bg.jpg'); */
}

h1 {
  text-align: center;
  color: coral;
}

h2 {
  text-align: center;
}

a {
  color: #FFF;
}

p {
  text-align: center;
}

/* Login Section */
.login-container h1 {
  font-family: 'Merriweather', serif;
  font-size: 48px;
  margin-top: 10px;
}

.login-container input[type=submit] {
  outline: none;
  text-align: center;
  width: 250px;
  height: 40px;
  background-color: coral;
  border-radius: 7px;
  font-size: 16px;
}

.login-container input[type=submit]:hover {
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}

.signin-field:focus {
  outline: none;
  border: 3px solid #01FF70;
  background-color: Khaki;
}

.login-container {
  border: 2px solid yellow;
  background: #DDD;
  width: 450px;
  height: 450px;
  text-align: center;
  border-radius: 10px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.login-container form {
  height: 50px;
}

.login-form {
  margin-top: 10%;
}

/* Sign up Page */
.signup-container {
  border: 2px solid yellow;
  background: #DDD;
  width: 350px;
  height: 225px;
  text-align: center;
  border-radius: 10px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.signup-container h2 {
  font-size: 32px;
  margin: 10px 0 20px;
  font-family: 'Merriweather', serif;
}

.signup-container input[type=text] {
  height: 40px;
  width: 250px;
  font-size: 16px;
  text-align: center;
}

.signup-container input[type=password] {
  height: 40px;
  width: 250px;
  font-size: 16px;
  text-align: center;
}

.signup-container input[type=submit] {
  text-align: center;
  width: 250px;
  height: 40px;
  background-color: coral;
  border-radius: 7px;
  font-size: 16px;
  margin-top: 10px;
}

.signup-container input[type=submit]:hover {
  background-color: #01FF70;
  color: white;
  cursor: pointer;
}

/* Sign-in Page  */
.signin-container {
  border: 2px solid yellow;
  background: #DDD;
  width: 350px;
  height: 225px;
  text-align: center;
  border-radius: 10px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.signin-container h2 {
  font-family: 'Merriweather', serif;
  margin: 10px 0 20px;
}

.signin-container input[type=text] {
  height: 40px;
  width: 250px;
  font-size: 16px;
  text-align: center;
}

.signin-container input[type=password] {
  height: 40px;
  width: 250px;
  font-size: 16px;
  text-align: center;
}

.signin-container input[type=submit] {
  text-align: center;
  width: 250px;
  height: 40px;
  background-color: coral;
  border-radius: 7px;
  font-size: 16px;
  margin-top: 10px;
}

.signin-container input[type=submit]:hover {
  background-color: #01FF70;
  color: white;
  cursor: pointer;
}

/* User Profile Page  */
/* Ask a Question section */
.submit-question {
  border: 2px solid yellow;
  background: #DDD;
  width: 404px;
  height: 260px;
  text-align: center;
  border-radius: 10px;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto 15px auto;
}

.question-title {
  height: 40px;
  width: 250px;
  font-size: 16px;
  text-align: center;
}

.question-input {
  height: 80px;
  width: 250px;
  font-size: 16px;
  text-align: center;
}

.question-submit-button {
  text-align: center;
  width: 250px;
  height: 40px;
  background-color: coral;
  border-radius: 7px;
  font-size: 16px;
  margin-top: 10px;
}

.question-submit-button:hover {
  background-color: yellow;
  cursor: pointer;
}

.question-item {
  text-align: center;
  border: 2px solid coral;
  border-radius: 15px;
  background-color: #EEE;
  margin: 10 auto;
  width: 450px;
  height: auto;
}

.question-item p {
  text-align: center;
  padding: auto;
}

/* Edit Question Page  */
.edit-controls {
  border: 2px solid yellow;
  background: #DDD;
  width: 350px;
  height: 225px;
  text-align: center;
  border-radius: 10px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.edit-controls h2 {
  margin: 10px auto;
  font-family: 'Merriweather', serif;
}

.edit-controls input[type=text] {
  height: 40px;
  width: 250px;
  font-size: 16px;
  text-align: center;
}

.edit-controls input[type=submit] {
  text-align: center;
  width: 250px;
  height: 40px;
  background-color: coral;
  border-radius: 7px;
  font-size: 16px;
  margin-top: 10px;
}

.edit-controls input[type=submit]:hover {
  background-color: yellow;
  cursor: pointer;
}

/* Answer Submit Page */

.answer-form {
  border: 2px solid yellow;
  background: #DDD;
  width: 350px;
  height: 300px;
  text-align: center;
  border-radius: 10px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.answer-form h2 {
  margin: 10 auto;
}

.answer-form p {
  color: #000;
  font-size: 24px;
  margin-bottom: 20px;
}

.answer-form input[type=text] {
  height: 100px;
  width: 250px;
  font-size: 16px;
  text-align: center;
}

.answer-form input[type=submit] {
  text-align: center;
  width: 250px;
  height: 40px;
  background-color: coral;
  border-radius: 7px;
  font-size: 16px;
  margin-top: 10px;
}

.answer-form input[type=submit]:hover {
  background-color: yellow;
  cursor: pointer;
}
/* Answer Item Section */
.answer-item {
  display: inline-block;
  text-align: center;
  border: 2px solid coral;
  border-radius: 15px;
  background-color: #EEE;
  margin: 10 5 10 5;
  width: 450px;
  height: auto;
}

.answer-item-question {
  margin: 0;
  padding: 0;
}

/* Edit Answer Page */
.edit-answer {
  border: 2px solid yellow;
  background: #DDD;
  width: 404px;
  height: 260px;
  text-align: center;
  border-radius: 10px;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto 15px auto;
}

/* Vote Controls */

.vote-controls input {
  margin-bottom: 10px;
}

/* OTHERSSSSSS  */

.ask {
  text-align: left;
  font-weight: bold;
  color: #FFF;
}

.input {
  margin: 0 auto;
  width: auto;
  text-align: center;
}

.input p {
  margin-top: 10px;
  text-align: center;
  color: #000;
  font-size: 24px;
}

.logout-button {
  float: right;
  height: 30px;
  width: 200px;
  border-radius: 10px;
  background-color: coral;
  border: none;
  font-size: 14px;
}

.logout-button:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

.controls {
  margin-bottom: 5px;
}

.controls input {
  width: 100px;
}

.buttons input {
  margin: 0 auto;
}

.controls form {
  display: inline;
}

.wrapper {
  display: inline-block;
  margin: 0 5px;
}
